@import "tailwindcss";

/* @layer base { */
body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}
/* } */

/* @layer components { */
.input-box {
  @apply w-full mb-4 p-3 border rounded-lg
         bg-white dark:bg-gray-900 dark:border-gray-700
         focus:ring-2 focus:ring-blue-400 outline-none;
}

.btn-primary {
  @apply bg-blue-600 text-white py-2 px-4 rounded-lg
         hover:bg-blue-700 transition font-semibold;
}
/* } */
